* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.calculation {
  padding: 30px 10px;
  background: #aaaaaa;
  border-radius: 5px;
  min-height: 100vh;
}
.calculation .container {  
  background: #fff;
  width: 70%;
  min-height: 90vh;
  border-radius: 5px;
  margin: 0px auto;
}
.calculation .nav-bar {
  background: #0B2F9F;
  padding: 18px 16px;
}

.table-form {
  width: 90%;
  margin: 10px 10px;
}
.table-form .table-head, .table-form .row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}
.table-form {
  width: 90%;
  box-sizing: border-box;
}
.table-form .table-head {
  width: 100%;
  display: flex;
  align-items: center;
}
.table-form .table-head .info, .table-form .table-head .type {
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-form .table-head .info {
  width: 35%;
}
.table-form .table-head .type {
  width: 10%;
}
.table-form .table-head h2 {
  font-size: 16px;
}

.table-form .middle {
   width: 100%;
   max-height: 115px;
   overflow-y: auto;
   scrollbar-width: thin;
}
.table-form .middle .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.table-form .middle .row .input {
  width: 35%;
  margin: 1px;
}
.table-form .middle .row .input input, .type-select input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
}
.table-form .middle .row .type-select  {
 width: 10%;
}
.table-form .middle .row .btn-out {
  width: 15%;
  padding: 3px;
  display: flex;
  align-items: center;
}
.table-form .middle .row .btn-out button {
  padding: 8px 9px;
  font-size: 12px;
  font-weight: bold;
  border: none;
}
.row .btn-out .add {
  background:#26923f;
  color: #dcd2d2;
}
.row .btn-out .add:hover {
  background: #28a745;
  color: #fff;
}
.row .btn-out .delete {
  background: #d92638;
  color: #dcd2d2;
}
.row .btn-out .delete:hover {
  background: #dc3545;
  color: #fff;
}
.error {
  color: red;
  font-size: 12px
}
.button {
  text-align: center;
  margin: 10px auto;
}
.button button {
  padding: 6px 24px;
  border-radius: 3px;
  border: none;
  background: #0B2F9F;
  color: #dcd2d2;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
.button button:hover {
  background: #173fbd;
  color: #fff;
}

div.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px 16px;
  margin-top: 10px;
}
div.footer h2 {
  font-size: 16px;
}


div.history {
  max-width: 900px;
  width: 80%;
  margin: 18px auto;
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.history table {
  width: 100%;
}
.history table thead th {
  position: sticky;
  top: 0;
  background: #fff;
}
.history table th, .history table td {
  border: 1px solid #ddd;
  gap: 1px;
  padding: 8px 12px;
  padding-left: 20px;
}
.history table .td_type {
  font-size: 14px;
}
