* {
  box-sizing: border-box;
}
div.container-login {
  width: 100%;
  height: 100vh;
  background: #aaaaaa;
}
div.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 40%;
  height: auto;
  margin: 60px auto;
  background: #0B2F9F;
  border-radius: 5px;
}
div.form input {
  width: 100%;
  padding: 16px 22px;
  font-size: 21px;
  font-weight: 600;
  color: #343333;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
button.login {
  display: block;
  padding: 23px 16px;
  margin: 0px auto;
  width: 50%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #e6e1e1;
  background: #088e3df5;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #3434342e;
}